*.log
*.pid
*.seed
*.tsbuildinfo
lib-cov
coverage
.nyc_output
build/Release
node_modules
jspm_packages
typings
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
dist
package-lock.json.orig
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.sublime-workspace
.DS_Store
Thumbs.db
